/*The Container*/
.innerHeader {
  height: 100%;
}

/*Header Background*/
.Headerbackground {
  width: 100%;
  background-image: url("../img/dark.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.overlay {
  background-color: rgba(0, 0, 0, 0.7);
}
/*Text placement within the header*/
.headingText {
  margin-top: 5%;
  color: white;
  align-self: flex-start;
}
.SecondheadingText {
  margin-top: 5%;
  margin-left: 5%;
  color: white;
  align-self: flex-start;
}
/*The image of me */
.img {
  margin-right: 20%;
  margin-top: 5%;
  margin-bottom: 5%;
  opacity: 0.3;
}

.cardContent {
  margin: 1rem;
}
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .card {
    padding-bottom: 5%;
    padding-top: 5%;
    margin-right: 20%;
    align-self: start;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .card {
    padding-bottom: 5%;
    margin-left: 45%;
    width: 54%;
    align-self: flex-end;
  }
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
  .card {
    padding-bottom: 5%;
    padding-top: 5%;
    margin-left: 45%;
    width: 70%;
    align-self: flex-end;
  }
}
.card {
  padding-bottom: 5%;
  margin-left: 45%;
  width: 54%;
  align-self: flex-end;
}

.divide {
  color: white;
  border-left: 1px solid #f2f7f9;
  margin-left: 50%;
  margin-top: 7%;
}

.margin {
  margin-left: 10%;
}
.selectedImg {
  pointer-events: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.imgCenter {
  margin: auto;
}
