.background {
  position: "absolute";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
}
.textWhite {
  color: white;
}

.skills:hover:after,
.skills:hover:before {
  box-sizing: border-box;
}

.progress {
}
.progress:first-child {
  margin-top: 0;
}
.progress {
  margin-top: 25px;
  position: relative;
}
.progress:after,
.progress:before {
  box-sizing: border-box;
}

.span {
  position: absolute;
  top: 0;
  right: 1.5%;
  font-size: 12px;
}

.list {
  display: inline;
}

.trigger {
  display: block;
  font-weight: 700;
  text-decoration: none;
  color: grey;
  position: relative;
  border: 1px solid white;
  padding: 10px;
  background: rgba(0, 0, 0, 0);
  color: white;
}

.is-open {
  background: rgba(0, 0, 0, 0.932);
}

.Collapsible__trigger .is-open {
  background: rgba(0, 0, 0, 0.932);
}
.tile {
  height: 80px;
  transform: translateZ(0px);
}

.ExperienceWidth {
  width: 300px;
}

.path {
  animation: draw 3.5s infinite;
}

@keyframes draw {
  50% {
    stroke-dashoffset: 0;
  }
}

.ReactContainer {
  width: 250px;
  height: 250px;
  margin: 20px auto 0 auto;

  display: flex;
  align-items: center;
  justify-content: center;
}

.reactLogo {
  display: inline-block;
  border-radius: 50%;
  border: 10px solid #00d8ff;

  animation-name: rotate;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.reactLogo,
.reactLogo:before,
.reactLogo:after {
  position: absolute;
  display: inline-block;
  width: 200px;
  height: 70px;
  border-radius: 50%;
  border: 10px solid #00d8ff;
}

.nucleo,
.reactLogo,
.reactLogo:before,
.reactLogo:after {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nucleo {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background: #00d8ff;
}

.reactLogo:before,
.reactLogo:after {
  content: "";
}

.reactLogo:after {
  transform: rotate(-57deg);
}

.reactLogo:before {
  transform: rotate(57deg);
}

.Reactitle {
  font-size: 60px;
  color: #00d8ff;
  width: 250px;
  margin: 2px auto;
  text-align: center;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

.jsBox {
  position: relative;
  margin: auto;
  /*optional background or border*/
}

.jsLetters {
  font-size: 25vmin;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  display: block;
  text-align: center;
  margin: auto;
  color: #ecdc49;
}

.jsLogo {
  font-size: 3vmin;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  display: block;
  text-align: center;
  margin: auto;
  color: #ecdc49;
}
